<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type='text/javascript'>

</script>
<h1>Create Game</h1>

<div>
	<input type='text' placeholder='game name'></input>
</div>

<div id='players-list'>
</div>

<div>
	<button>create game</button>
</div>
